.forgot-password-container {
    max-width: 400px;
    padding: 20px;
    background: #FFFDEC;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0,  0, 0.1);
    text-align: center;
}

h2 {
    color: #333;
    margin-bottom: 10px;
}

p {
    color: #666;
    margin-bottom: 20px;
}

input[type="email"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
    color: #333;
}

input[type="email"]:focus {
    border-color: #007bff;
    outline: none;
}

button {
    width: 95%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.success-message {
    margin-top: 20px;
    color: green;
    font-weight: bold;
}

.close-modal {
    margin-top: 10px;
    background-color: transparent;
    border: none;
    color: #007bff;
    cursor: pointer;
}

.close-modal:hover {
    text-decoration: underline;
    background-color: #FFFDEC;
}