.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-backdrop-filter: blur(5px); /* Safari support */
    backdrop-filter: blur(5px); /* Standard syntax */
}

.forgot-password-modal {
    background: #F4EDD3;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
}